In [21]:
# 0. Import libraries and set working directory ######################
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
#from . import proc_target as ut
import proc_target as ut
path = os.getcwd()
print(path)

c:\Users\Admin\Documents\prob_recession_bolivia\recession_bolivia\recession_bolivia\main

In [22]:
def onset_in_target_zero(x: pd.Series, p: int) -> pd.Series:
    y = pd.Series(np.nan, index=x.index)
    for i in range(len(x)):
        if i + p < len(x) and x.iloc[i] == 0:
            if 1 in x.iloc[i+1:i+1+p].values:
                y.iloc[i] = 1
            else:
                y.iloc[i] = 0
    return y

# Example DataFrame
df_proof = pd.DataFrame({
    'isocode': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'FRA', 'FRA', 'FRA', 'FRA', 'FRA'],
    'period': [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5],
    'coup': [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1]
})

#Apply the function for different horizons
horizons = [2, 3]
for h in horizons:
    df_proof[f'ons_coup_{h}'] = df_proof.groupby('isocode')['coup'].transform(lambda x: onset_in_target_zero(x, h)).reset_index(level=0, drop=True)
df_proof

   isocode  period  coup  ons_coup_2  ons_coup_3
0      USA       1     0         1.0         1.0
1      USA       2     0         1.0         1.0
2      USA       3     1         NaN         NaN
3      USA       4     0         0.0         NaN
4      USA       5     0         NaN         NaN
5      USA       6     0         NaN         NaN
6      FRA       1     0         0.0         0.0
7      FRA       2     0         0.0         1.0
8      FRA       3     0         1.0         NaN
9      FRA       4     0         NaN         NaN
10     FRA       5     1         NaN         NaN

In [23]:
def onset_in_target_zero(x: pd.Series, p: int) -> pd.Series:
    y = pd.Series(np.nan, index=x.index)
    for i in range(len(x)):
        if i + p < len(x) and x.iloc[i] == 0:
            if 1 in x.iloc[i+1:i+1+p].values:
                y.iloc[i] = 1
            else:
                y.iloc[i] = 0
    return y

# Example DataFrame
df_proof = pd.DataFrame({
    'isocode': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'FRA', 'FRA', 'FRA', 'FRA', 'FRA'],
    'period': [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5],
    'coup': [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1]
})

#Apply the function for different horizons
horizons = [2, 3]
for h in horizons:
    df_proof[f'ons_coup_{h}'] = df_proof.groupby('isocode')['coup'].transform(lambda x: onset_in_target_zero(x, h)).reset_index(level=0, drop=True)
df_proof

   isocode  period  coup  ons_coup_2  ons_coup_3
0      USA       1     0         1.0         1.0
1      USA       2     0         1.0         1.0
2      USA       3     1         NaN         NaN
3      USA       4     0         0.0         NaN
4      USA       5     0         NaN         NaN
5      USA       6     0         NaN         NaN
6      FRA       1     0         0.0         0.0
7      FRA       2     0         0.0         1.0
8      FRA       3     0         1.0         NaN
9      FRA       4     0         NaN         NaN
10     FRA       5     1         NaN         NaN

In [24]:
def onset_in_target_zero(x: pd.Series, p: int) -> pd.Series:
    y = pd.Series(np.nan, index=x.index)
    for i in range(len(x)):
        if i + p < len(x) and x.iloc[i] == 0:
            if 1 in x.iloc[i+1:i+1+p].values:
                y.iloc[i] = 1
            else:
                y.iloc[i] = 0
    return y

In [29]:
# Example DataFrame
df_proof = pd.DataFrame({
    #'isocode': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'FRA', 'FRA', 'FRA', 'FRA', 'FRA'],
    'period': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,12,13,14,15,16,17,18,19,20,21],
    'coup': [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1]
})

df_proof

    period  coup
0        1     0
1        2     0
2        3     1
3        4     0
4        5     0
5        6     0
6        7     1
7        8     0
8        9     0
9       10     0
10      11     1
11      12     0
12      13     0
13      14     1
14      15     0
15      16     0
16      17     0
17      18     1
18      19     0
19      20     0
20      21     1

In [30]:
#Apply the function for different horizons
horizons = [2, 3, 4]
for h in horizons:
    df_proof[f'ons_coup_{h}'] = df_proof['coup'].transform(lambda x: onset_in_target_zero(x, h)).reset_index(level=0, drop=True)
df_proof

    period  coup  ons_coup_2  ons_coup_3  ons_coup_4
0        1     0         1.0         1.0         1.0
1        2     0         1.0         1.0         1.0
2        3     1         NaN         NaN         NaN
3        4     0         0.0         1.0         1.0
4        5     0         1.0         1.0         1.0
5        6     0         1.0         1.0         1.0
6        7     1         NaN         NaN         NaN
7        8     0         0.0         1.0         1.0
8        9     0         1.0         1.0         1.0
9       10     0         1.0         1.0         1.0
10      11     1         NaN         NaN         NaN
11      12     0         1.0         1.0         1.0
12      13     0         1.0         1.0         1.0
13      14     1         NaN         NaN         NaN
14      15     0         0.0         1.0         1.0
15      16     0         1.0         1.0         1.0
16      17     0         1.0         1.0         1.0
17      18     1         NaN         NaN         NaN
18      19     0         1.0         NaN         NaN
19      20     0         NaN         NaN         NaN
20      21     1         NaN         NaN         NaN

# Features import

In [ ]:
# Import main data of features set
df_feat = pd.read_excel('input/data_selected_sa.xlsx', sheet_name='data1990')
df_feat = df_feat.drop(columns='Recession')
df_feat.rename(columns={'_date_': 'period'}, inplace=True)
df_feat

In [ ]:
# Variables do not require conversion into YoY growth rates. They are already expressed in % and are rates
from sklearn.preprocessing import StandardScaler
df_feat_ns = df_feat[['yield10y_2y', 'yield10y_3m', 'vix', 'fed_funds_nom', 'long_term_10y', 'oecd_norm', 'stress_us']]
df_feat_ns

In [ ]:
# Standardizing the Variables
variables_a_estandarizar = ['yield10y_2y', 'yield10y_3m', 'vix', 'fed_funds_nom', 'long_term_10y', 'oecd_norm', 'stress_us']
df_feat_std = df_feat_ns[variables_a_estandarizar].copy()
scaler = StandardScaler()
df_feat_std[variables_a_estandarizar] = scaler.fit_transform(df_feat_std[variables_a_estandarizar])
df_feat_std

In [ ]:
# Transform features into growth rates before testing for stationarity, then standardize. 
colsdrop = ['yield10y_2y', 'yield10y_3m', 'vix', 'fed_funds_nom', 'long_term_10y', 'oecd_norm', 'stress_us', 'ipc_ryc']
df_feat = df_feat.drop(columns=colsdrop)
df_feat = ut.transform_features(df_feat, 'period')
df_feat

In [ ]:
# Concat Dataframe Features: Standardized Features and Year-on-Year Rates
df_feat_ = pd.concat([df_feat, df_feat_std], axis=1)
df_feat_

In [ ]:
# Store the features data
df_feat_.to_csv(f'{path}/output/df_feat.csv', index = False)
print(f'saved in {path}/output/df_feat.csv')

# Target import

In [ ]:
df_recession = pd.read_csv('output/df_recession.csv', delimiter=',')
df_recession

In [ ]:
# Change values of Target  
#df_recession['Recession'] = df_recession['recession'].apply(lambda x: 1 if x == 0 else 0)
#df_recession.drop('recession', axis=1, inplace=True)
#df_recession.rename(columns={'Recession': 'recession'}, inplace=True)
#df_recession

# Features - Transformation

In [ ]:
# Latest Version Target_Features: Standardized Features and Year-on-Year and Target
df_feat_ = df_feat_.drop(columns=['period'])
df_dataset = pd.concat([df_recession, df_feat_], axis=1)
df_dataset

In [ ]:
df_dataset = df_dataset.set_index("period") 
df_dataset = df_dataset['1991-01-01':'2023-12-01'] # Note: date format: yyyy-mm-dd
#df_dataset
# Working with onset 0 
df_dataset_ons0 = df_dataset.drop(columns=['recession_ons_6', 'recession_ons_12', 'recession_ons_24'])
# Working with onset 6 
df_dataset_ons6 = df_dataset.drop(columns=['recession',	'recession_ons_12',	'recession_ons_24'])
# Working with onset 12 
df_dataset_ons12 = df_dataset.drop(columns=['recession_ons_6',	'recession',	'recession_ons_24'])
# Working with onset 24 
df_dataset_ons24 = df_dataset.drop(columns=['recession_ons_6',	'recession_ons_12',	'recession'])

## Real Sector Variables

In [ ]:
# Real Sector Variables
#df_dataset_ons0_real = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession',	'past60_recession', 'past120_recession', 
#df_dataset_ons0_real = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
#                                        'igae_agri', 'igae_pet', 'igae_ind', 'igae_comu', 'igae_com', 'igae_pub', 'igae_serv', 'ele_dom', 'ele_indgra', 
#                                        'ele_alum', 'agua', 'ferro', 'aereo', 'ductos', 'prod_gas', 'zinc', 'antimonio']]

df_dataset_ons0_real = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
                                        'igae_pet', 'igae_ind', 'igae_comu', 'igae_pub', 'igae_serv', 'ele_dom', 'ele_indgra', 
                                        'ele_alum', 'agua', 'prod_gas', 'antimonio']]

# Adding Lags of Features Selected
#for col in df_dataset_ons0_real.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession',	'past60_recession', 'past120_recession'], axis=1):
for col in df_dataset_ons0_real.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession'], axis=1):
    for n in [3,6]:
        df_dataset_ons0_real['{} {}M lag'.format(col, n)] = df_dataset_ons0_real[col].shift(n).ffill().values
        
df_dataset_ons0_real = df_dataset_ons0_real.dropna(axis=0)
#df_dataset_ons0_real

## Monetary Sector Variables

In [ ]:
# Monetary Sector Variables
#df_dataset_ons0_mon = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 'past60_recession', 'past120_recession', 
#                                       'm2_r', 'm3_r', 'm3p_r', 'm4p_r', 'base_r', 'emision_r' ]]

df_dataset_ons0_mon = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
                                       'm2_r', 'm3p_r', 'm4p_r', 'base_r', 'emision_r' ]]

# Adding Lags of Features Selected
for col in df_dataset_ons0_mon.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession'], axis=1):
    for n in [3,6]:
        df_dataset_ons0_mon['{} {}M lag'.format(col, n)] = df_dataset_ons0_mon[col].shift(n).ffill().values
        
df_dataset_ons0_mon = df_dataset_ons0_mon.dropna(axis=0)
#df_dataset_ons0_mon

## Prices index an Exchange Rate Index

In [ ]:
# Prices index an Exchange Rate Index
#df_dataset_ons0_pxr = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 'past60_recession', 'past120_recession', 
#                                       'ipc_ali',  'ipc_pvc', 'ipc_viv', 'ipc_bsd', 'ipc_edu', 'itcr',  'itcr_arg', 'itcr_bra', 'itcr_chl', 'itcr_col', 'itcr_zeu' ]]

df_dataset_ons0_pxr = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
                                       'ipc_pvc', 'ipc_viv', 'ipc_bsd', 'ipc_edu', 'itcr',  'itcr_arg', 'itcr_bra', 'itcr_chl', 'itcr_col']]

# Adding Lags of Features Selected
for col in df_dataset_ons0_pxr.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession'], axis=1):
    for n in [3,6]:
        df_dataset_ons0_pxr['{} {}M lag'.format(col, n)] = df_dataset_ons0_pxr[col].shift(n).ffill().values
        
df_dataset_ons0_pxr = df_dataset_ons0_pxr.dropna(axis=0)
#df_dataset_ons0_pxr

## Commodities Prices

In [ ]:
# Commodities Prices
#df_dataset_ons0_pex = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 'past60_recession', 'past120_recession', 
#                                       'p_gas', 'p_soya_sem', 'p_soya_act', 'p_soya_hrn', 'p_banana', 'p_cobre', 'p_estano', 'p_zinc', 'p_oro']]

df_dataset_ons0_pex = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
                                       'p_gas', 'p_soya_sem', 'p_soya_act', 'p_soya_hrn', 'p_banana', 'p_cobre', 'p_estano', 'p_zinc']]

# Adding Lags of Features Selected
for col in df_dataset_ons0_pex.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession'], axis=1):
    for n in [3,6]:
        df_dataset_ons0_pex['{} {}M lag'.format(col, n)] = df_dataset_ons0_pex[col].shift(n).ffill().values
        
df_dataset_ons0_pex = df_dataset_ons0_pex.dropna(axis=0)
#df_dataset_ons0_pex

## Fiscal Sector Variables

In [ ]:
# Fiscal Sector Variables
#df_dataset_ons0_fis = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 'past60_recession', 'past120_recession', 
#                                       'itri', 'iint', 'iadu', 'ioct', 'gsep', 'gbys', 'gint', 'gcap']]

df_dataset_ons0_fis = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
                                       'itri', 'iint', 'iadu', 'gsep', 'gbys', 'gint', 'gcap']]

# Adding Lags of Features Selected
for col in df_dataset_ons0_fis.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession'], axis=1):
    for n in [3,6]:
        df_dataset_ons0_fis['{} {}M lag'.format(col, n)] = df_dataset_ons0_fis[col].shift(n).ffill().values
        
df_dataset_ons0_fis = df_dataset_ons0_fis.dropna(axis=0)
#df_dataset_ons0_fis

## International Variables

In [ ]:
# International Variables
#df_dataset_ons0_int = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 'past60_recession', 'past120_recession', 
#                                       'yield10y_2y', 'yield10y_3m', 'index_pro_ind', 'vix', 'fed_funds_nom', 'long_term_10y', 'oecd_norm']]

df_dataset_ons0_int = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
                                       'yield10y_2y', 'yield10y_3m', 'index_pro_ind', 'vix', 'fed_funds_nom', 'long_term_10y', 'oecd_norm']]

# Adding Lags of Features Selected
for col in df_dataset_ons0_int.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession'], axis=1):
    for n in [3,6]:
        df_dataset_ons0_int['{} {}M lag'.format(col, n)] = df_dataset_ons0_int[col].shift(n).ffill().values
        
df_dataset_ons0_int = df_dataset_ons0_int.dropna(axis=0)
#df_dataset_ons0_int

In [ ]:
# Join all features selected #
df_dataset_ons0_all = df_dataset_ons0[['recession', 'recession_lag_1', 'past6_recession', 'past12_recession', 
                                        'igae_pet', 'igae_ind', 'igae_comu', 'igae_pub', 'igae_serv', 'ele_dom', 'ele_indgra', 
                                        'ele_alum', 'agua', 'prod_gas', 'antimonio',
                                        'm2_r', 'm3p_r', 'm4p_r', 'base_r', 'emision_r',
                                        'ipc_pvc', 'ipc_viv', 'ipc_bsd', 'ipc_edu', 'itcr',  'itcr_arg', 'itcr_bra', 'itcr_chl', 'itcr_col',
                                        'p_gas', 'p_soya_sem', 'p_soya_act', 'p_soya_hrn', 'p_banana', 'p_cobre', 'p_estano', 'p_zinc',
                                        'itri', 'iint', 'iadu', 'gsep', 'gbys', 'gint', 'gcap', 
                                        'yield10y_2y', 'yield10y_3m', 'index_pro_ind', 'vix', 'fed_funds_nom', 'long_term_10y', 'oecd_norm'
                                        ]]
                                        
# Adding Lags of Features Selected
for col in df_dataset_ons0_all.drop(['recession', 'recession_lag_1', 'past6_recession', 'past12_recession'], axis=1):
    for n in [3,6]:
        df_dataset_ons0_all['{} {}M lag'.format(col, n)] = df_dataset_ons0_all[col].shift(n).ffill().values
        
df_dataset_ons0_all = df_dataset_ons0_all.dropna(axis=0)
#df_dataset_ons0_all

## Selection Sector

In [ ]:
#=======================#
# # Select the Sector # #
#=======================#
#df_dataset_ons0_real
#df_dataset_ons0_mon
#df_dataset_ons0_pxr
#df_dataset_ons0_pex
#df_dataset_ons0_fis
#df_dataset_ons0_int
#df_dataset_ons0_all
df_dataset_ons0 = df_dataset_ons0_real
df_dataset_ons0

## Train Test Split

+ Assigning 75% of data as training set and 30 % as test set

In [ ]:
# Change dates - Accordind the previos Lags 3,6,9,12,18
df_targets = df_dataset_ons0['recession'].values
df_features = df_dataset_ons0.drop(['recession'], axis=1)

df_training_features = df_dataset_ons0[:'2017-06-01'].drop(['recession'], axis=1)
df_validation_features = df_dataset_ons0['2017-07-01':].drop(['recession'], axis=1)

df_training_targets = df_dataset_ons0[:'2017-06-01']['recession'].values
df_validation_targets = df_dataset_ons0['2017-07-01':]['recession'].values

In [ ]:
# training and development (internal validation)
xtr = df_dataset_ons0[:'2003-06-01']
ytr = df_dataset_ons0[:'2003-06-01']['recession'].values
xdev = df_dataset_ons0['2003-07-01':'2017-06-01']
ydev = df_dataset_ons0['2003-07-01':'2017-06-01']['recession'].values

In [ ]:
print(len(df_training_features),len(df_training_targets),len(df_targets))
print(len(df_validation_features),len(df_validation_targets),len(df_features))

# Modelling

+ As the dataset is too small and recessions are in continuous in time series, we cannot use cross validation functions as folds with only one class will be formed.

+ Thus, loop and iteration of hyperparamets is done in hypertuning Logistic Regression.

In [ ]:
# import packages for modelling
#!pip install xgboost
from sklearn import metrics
from sklearn import model_selection
from sklearn import preprocessing
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SelectFromModel

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb

In [ ]:
df_training_targets

In [ ]:
seed=8
scoring='roc_auc' 
kfold = model_selection.TimeSeriesSplit(n_splits=2) 
models = []

models.append(('LR', LogisticRegression(C=1e05)))
#models.append(('LR', LogisticRegression(C=1e09)))
models.append(('LR_L1', LogisticRegression(penalty = 'l1',solver='liblinear')))
models.append(('LR_L2', LogisticRegression(penalty = 'l2')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('GB', GradientBoostingClassifier()))
models.append(('ABC', AdaBoostClassifier()))
models.append(('RF', RandomForestClassifier()))
models.append(('XGB', xgb.XGBClassifier()))

results = []
names = []
lb = preprocessing.LabelBinarizer()

for name, model in models:
    cv_results = model_selection.cross_val_score(estimator = model, X = df_training_features, 
                                                 y = lb.fit_transform(df_training_targets), cv=kfold, scoring = scoring)
    
    model.fit(df_training_features, df_training_targets) # train the model
    fpr, tpr, thresholds = metrics.roc_curve(df_training_targets, model.predict_proba(df_training_features)[:,1])
    auc = metrics.roc_auc_score(df_training_targets,model.predict(df_training_features))
    plt.plot(fpr, tpr, label='%s ROC (area = %0.2f)' % (name, auc))
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

plt.plot([0, 1], [0, 1],'r--')
plt.xlim([-0.05, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('1-Specificity(False Positive Rate)')
plt.ylabel('Sensitivity(True Positive Rate)')
plt.title('Receiver Operating Characteristic')
plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))
plt.show() 
warnings.filterwarnings('ignore')

In [ ]:
# Split 1 y split 2
results

In [ ]:

fig = plt.figure()
fig.suptitle('Algorithm Comparison based on Cross Validation Scores')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

## Hypertuning Logistic Regression

In [ ]:
from sklearn.metrics import roc_auc_score
C = np.reciprocal([0.00000001, 0.00000005, 0.0000001, 0.0000005, 0.000001, 0.000005, 0.00001, 0.00005, 
                         0.0001, 0.0005, 0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100, 500, 1000, 5000])
penalty = ['l1','l2']

penals = pd.DataFrame(index=penalty)
cs = []
scrs = []
for p in penalty:
        scores = []
        params = pd.DataFrame(index=C)
        for c in C:
            model = LogisticRegression(C=c, max_iter=10000, penalty=p, solver='liblinear')
            lr1 = model.fit(xtr,ytr)
            ypreds = lr1.predict(xdev)
            score = roc_auc_score(ydev,ypreds)
            scores.append(score)
        params['rocauc'] = scores
        maxc = params['rocauc'].idxmax()
        maxsc = params['rocauc'].max()
        scrs.append(maxsc)
        cs.append(maxc)
penals['C'] = cs
penals['score'] = scrs
penals

In [ ]:
model = LogisticRegression(C=0.1, penalty='l2', max_iter=10000, solver='liblinear')
#model = LogisticRegression(C=0.100, penalty='l2', max_iter=10000, solver='liblinear')
#model = LogisticRegression(C=0.002, penalty='l2', max_iter=10000, solver='liblinear')
lr2 = model.fit(df_training_features, df_training_targets)
ypreds = lr2.predict(df_validation_features)
param = lr2.get_params()
score = roc_auc_score(df_validation_targets, ypreds)
score

## XGBoost model

In [ ]:
seed = 8
scoring = 'roc_auc' 
kfold = model_selection.TimeSeriesSplit(n_splits=2) 
lb = preprocessing.LabelBinarizer()
xgboost = model_selection.GridSearchCV(estimator=xgb.XGBClassifier(),
                                       param_grid={'booster': ['gbtree'],
                                                  'max_depth':[2,3,5,10],
                                                  'learning_rate':[0.01,0.1,1]},
                                       scoring=scoring, cv=kfold).fit(df_training_features, 
                                                                      lb.fit_transform(df_training_targets)).best_estimator_
xgboost.fit(df_training_features, df_training_targets)

In [ ]:
modelxg = xgb.XGBClassifier(learning_rate=0.001,n_estimators=1000,max_depth=100,booster='gbtree',n_jobs=-1).fit(df_training_features, df_training_targets)
ypredsxgb = modelxg.predict(df_validation_features)

xgbscore = roc_auc_score(df_validation_targets,ypredsxgb)
xgbscore

## Preliminary Results

In [ ]:
import datetime
# define periods of recession
rec_spans = []

# Date format: YYYY-MM-DD
rec_spans.append([datetime.datetime(1994,9,1), datetime.datetime(1994,12,1)])
rec_spans.append([datetime.datetime(1995,4,1), datetime.datetime(1995,4,1)])
rec_spans.append([datetime.datetime(1998,10,1), datetime.datetime(1999,6,1)])
rec_spans.append([datetime.datetime(2001,12,1), datetime.datetime(2002,2,1)])
rec_spans.append([datetime.datetime(2004,8,1), datetime.datetime(2004,11,1)])

rec_spans.append([datetime.datetime(2005,5,1), datetime.datetime(2005,10,1)])
rec_spans.append([datetime.datetime(2006,1,1), datetime.datetime(2006,1,1)])
rec_spans.append([datetime.datetime(2008,8,1), datetime.datetime(2008,11,1)])

rec_spans.append([datetime.datetime(2018,9,1), datetime.datetime(2018,12,1)])
rec_spans.append([datetime.datetime(2019,7,1), datetime.datetime(2019,11,1)])
rec_spans.append([datetime.datetime(2020,2,1), datetime.datetime(2020,4,1)])
rec_spans.append([datetime.datetime(2020,12,1), datetime.datetime(2021,2,1)])
rec_spans.append([datetime.datetime(2022,7,1), datetime.datetime(2022,11,1)])

In [ ]:
prob_predictions = lr2.predict_proba(df_training_features)
prob_predictions = np.append(prob_predictions, lr2.predict_proba(df_validation_features), axis=0)
sample_range = pd.date_range(start='7/1/1991', end='11/1/2023', freq='MS') # MM/DD/YYY
#sample_range = pd.date_range(start='1/1/1991', end='11/1/2023', freq='MS') ### Before the included lags

plt.figure(figsize=(15,6))
plt.plot(sample_range.to_series().values, prob_predictions[:,0])
for i in range(len(rec_spans)):
    plt.axvspan(rec_spans[i][0], rec_spans[i][len(rec_spans[i]) - 1], alpha=0.25, color='grey')
plt.axhline(y=0.5, color='r', ls='dashed', alpha = 0.5)
plt.title('Recession Prediction Probabalities with Logistic Regression')
plt.show()

# Feature Importance

In [ ]:
#pip install shap
import shap
# load your data here, e.g. X and y
# create and fit your model here
# load JS visualization code to notebook
shap.initjs()

# explain the model's predictions using SHAP
# (same syntax works for LightGBM, CatBoost, scikit-learn and spark models)
explainer = shap.LinearExplainer(lr2,df_training_features)
shap_values = explainer.shap_values(df_training_features.values)

# visualize the first prediction's explanation (use matplotlib=True to avoid Javascript)
#shap.force_plot(explainer.expected_value, shap_values[0,:], X.iloc[0,:])

shap.summary_plot(shap_values, df_training_features)